.section-title {
    margin: 20px !important;
}

.bottom-card {
    margin-top: 15px;
}

.product-list-image {
    max-width: 250px;
    max-height: 250px;
    vertical-align: middle;
    margin: 0 auto;
}

.product-list-single {
    margin-top: 40px;
}

.product-list-single:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.margin-left {
    margin-left: 10px;
}

.button-size button {
    font-size: 22px;
}

.gramm-text {
    font-size: 14px;
}

.card {
    background-color: #fafafa !important;
    border: none !important;
    min-height: 600px !important;
}

.banner-top {
    width: 100%;
    height: 700px;
}

.detail-image {
    max-width: 508px;
    max-height: 508px;
    margin: 0 auto;
    padding: 2px;
}

.detail-product-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.detail-product-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
}

.detail-product-category {
    margin-top: 10px;
}

.detail-product-progress {
    margin-top: 15px;
}

.add-to-cart {
    margin-left: 40px;
}

.sku-button {
    max-width: 110px;
}

.title-price {
    font-weight: 900;
    font-size: 32px;
}

.slide-image {
    max-width: 150px;
    float: left;
}
.btn-to-cart:hover {
    color: white;
}
.slide-image-wrapper {
    margin-left: 40px;
    margin-right: 25px;
}

.quantity-total {
    padding: 0.375rem 0.75rem;
}

.detail-entry-footer {
    float: left;
}

.table th, .table td {
    vertical-align: middle !important;
}

.modal-success-content {
    padding: 60px;
}

.success-symbol {
    font-size: 44px;
    color: black;
}

.success-element {
    margin-top: 10px;
}

.cart-condition {
    float: right !important;
    position: relative;
    z-index: 3000 !important;
    min-height: 200px !important;
    width: 400px !important;
    margin-right: 45px !important;
    border: 1px solid grey !important;
}

.cart-condition-image {
    max-width: 100px;
    max-height: 80px;
}

.cart-condition-entry {
    margin-top: 10px;
}

.btn-order {
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 0 !important;
    outline: none !important;
}

.btn-promo {
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 0 !important;
    outline: none !important;
}

.btn-order-submit {
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 0 !important;
    outline: none !important;
}

.cart-condition-close {
    font-size: 32px;
    padding-right: 15px;
    outline: none !important;
}

.cart-condition-close:focus {
    outline: none !important
}

.cart-total {
    color: #000 !important;
}

.additionally-information {
    color: darkgrey;
    font-size: 16px;
}

.preloader-condition {
    position: absolute;
    top: 50%;
    left: 50%;
}

.preloader-total-cart {
    position: absolute;
    top: 50%;
}

.button-quantity {
    padding: 0 !important;
    width: 25px !important;
    height: 25px !important;
}

.delievery-map {
    margin-top: 30px;
    margin-bottom: 30px;
}

.delivery-logo {
    min-width: 50px;
}

.cachelogo {
    padding: 20;
    max-width: 50px;
}

.delievery-title {
    margin-top: 30px;
}

.delievery-item-wrapper {
    padding: 20px;
    border: solid darkgrey 2px;
}

.delievery-item-content {
    padding: 20px;
    margin-leftleft: 20px;
    color: darkgrey;
}

.delievery-adress {
    margin-top: 20px;
}

.payment {
    font-size: 18px;
    margin-top: 40px;
    padding: 50px;
    background-color: #f6f6f6;
}

.payment-item-wrapper {
    padding: 20px;
    border: solid darkgrey 2px;
}

.payment-item {
    font-size: 18px;
    padding: 60px;
}

.method-active {
    border: solid orange 2px;
}

.filter-icon {
    max-height: 150px;
    padding: 35px;
    border: darkgrey solid 2px;
}
.filter-icon-active {
    border: black solid 3px!important;
}
.filter-name {
    color: darkgrey;
}
.title-catalog {
    margin-bottom: 20px;
    margin-top: 60px;
    color: darkgrey;
}

.product-section {
    margin-top: 40px;
    margin-bottom: 20px;
}
.price-product-active {
    border-bottom: 3px solid black!important;
}
.sort {
    padding-top: 60px;
    background-color: #fafafa!important;
}
.sort-button {
    margin-top: 60px;
}
.sort-wrapper {
    background-color: #fafafa!important;
}
.filters-wrapper {
    margin-top: 40px;
}
.filter-sort-items:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 0;
    position: absolute;
    top: -1px;
    bottom: 0;
    margin: auto;
    right: 0;
    background-image: url('/images/arr-bold-gray.svg') !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}
.catalog-tabs li{
    display: inline;
    font-weight: 500;
    font-size: 1.7rem;
    padding-right: 40px;
}
.filter-sort {
    background-color: #fafafa!important;
}
.filter-sort-items {
    border: none!important;
    border-bottom: 2px solid black!important;
    border-radius: 0!important;
}
.filter-items-label {
    padding-left: 0.75rem;
    color: black;
    font-size: 16px;
}
.preloader-catalog-products {
    margin-bottom: 120px;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
}
.empty-result-msg {
    margin-bottom: 150px;
    margin-top: 150px;
    padding: 20px!important;
}
.category-body {
    height: 60px;
}
.mark-item-active {
    color: black;
    font-weight: bolder;
}
.free-shipping h3{
    text-transform: none!important;
}
.footer-title-29 h6 {
    text-transform: none!important;
}
.pay-wrapper {
    font-size: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.rating-star li{
    display: inline!important;
}
.text-bg-image {
    background-image: url("/images/email-logo.jpg");
}
.payment-active {
    border: 4px solid black;
}
.auth-wrapper {
    margin-top: 50px;
}
.cart-condition-empty {
    vertical-align: middle;
}
.promo-popup {
    visibility: hidden;
    position: fixed!important;
    bottom: 125px;
    right: 15px;
    z-index: 99;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    min-height: 150px!important;
    line-height: 35px;
    border: solid black 1px!important;
    -o-border-image: initial;
    border-image: initial;
    outline: none;
    background: var(--primary-color);
    padding: 0px;
    border-radius: 50px;
    transition: height 5s cubic-bezier(0, 0, 1, 1) !important;
}
table tr td.td2:last-child {
    word-break: break-word;
    width: auto;
}
.btn-get-more {
    display: flex!important;
    justify-content: center!important;
}
.add-to-cart-detail {
    margin-left: 40px;
}
.table-total-cart {
    table-layout:fixed;
}
.table-total-cart > td {
    min-height: 200px;
}

/*MEDIA*/
@media (max-width: 600px) {
    .detail-image {
        max-width: 300px;
    }
    .filter-card {
        margin-bottom: 20px;
    }
    .totop_button {
        display:none!important;
    }
    .promo-popup {
        right: 5px;
        left: 5px;
        bottom: 10px;

    }
}

@media (max-width: 600px) {
    .cart-total {
        display: none !important;
    }
}
